body {
    background: greenyellow;
}


footer {
    margin-top: 10px;
    display: block;
    height: 50px;
    line-height: 50px;
    
    position: fixed;
    
}

footer li {
    float: left;
    margin-left: 20px;
    list-style-type: none;
    margin-left: 30px;
}

