<html>
    <link rel="stylesheet" href="/css/style.css">

<body>
    {{{body}}}
<hr>
    <footer>
        <ul>
          <li>copyright&copy; 2021 - 2021 </li>
        <li>All Rights Reserved</li>
        <li>Terms of use</li>
        <li><a href="#">Web designer Hijiri</a></li> 
        </ul>
    </footer>
</body>    
</html>