<h2>Home</h2>
<form method="POST" action="/detail">
<input type="text" name="name" placeholder="movie's name" length="100">
</form>

<hr>
<h3>Movies</h3>
{{#each movies}}
<li><a href="/detail?name={{name}}">{{name}}</a></li>
{{/each}}