<h2>Home</h2>
<form method="POST" action="/detail">
<input type="text" name="name" placeholder="movie's name" length="100">
</form>

<div id="root"></div>

<script type="text/babel">
const movies = {{{movies}}}

console.log(movies)


</script>